<h1>Timeline</h1>

<div id="timeline" style="height: 480px;"></div>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
google.charts.load('current', {'packages':['timeline']});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  var container = document.getElementById('timeline');
  var chart = new google.visualization.Timeline(container);
  var dataTable = new google.visualization.DataTable();

  dataTable.addColumn({ type: 'string', id: 'Assignee' });
  dataTable.addColumn({ type: 'string', id: 'Issue' });
  dataTable.addColumn({ type: 'string', role: 'tooltip' });
  dataTable.addColumn({ type: 'date', id: 'Start' });
  dataTable.addColumn({ type: 'date', id: 'End' });
  dataTable.addRows([
    <% @issue_sequences.each do |issue_sequence| %>
      <% issue_sequence.issues.each do |issue| %>
      [ '<%= issue_sequence.assignee %>', '<%= issue.key %>', '<%= issue.title %>', new Date('<%= issue.start_date %>'), new Date('<%= issue.end_date %>') ],
      <% end %>
    <% end %>
    ]);

  var options = {
    colors: <%= raw @issue_sequences.map(&:issues).flatten.map(&:color).to_json %>
  };
  chart.draw(dataTable, options);
}
  </script>
